
.vagrant/machines/default/virtualbox/action_provision

.vagrant/machines/default/virtualbox/action_set_name

.vagrant/machines/default/virtualbox/id

.vagrant/machines/default/virtualbox/index_uuid

*.log

*.summary

stack.sh.log.2014-08-06-085924

stack.sh.log.2014-08-05-173409

openstack_inventory.py

.vagrant/machines/default/virtualbox/synced_folders
